<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/igmtink/igmt-css/css/igmtink-css-reset.min.css">
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <main>
      <section class="container">
        <h1><%= today %></h1>
        <div class="todolist-container">
          <form action="/" method="post">
            <input type="text" name="todoInput" placeholder="Todo" required>
            <button type="submit">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"><path d="M19 11h-6V5h-2v6H5v2h6v6h2v-6h6z"></path></svg>
            </button>
          </form>
          <ul>

            <% todoList.forEach(function(todo) { %>
                
                <form action="/" method="post">
                  <li>
                    <input type="checkbox" name="todoCheckbox">
                    <span><%= todo.name %></span>
                  </li>
                </form>

            <% }) %>
            
          </ul>
        </div>
      </section>
    </main>
  </body>
</html>
