body {
  background-color: #1b1b1b;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  place-items: center;
  height: 100vh;
}

main {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 6rem;
}

header {
  /* background-color: blue; */
}

h1 {
  text-align: center;
  font-family: cursive;
  font-size: 8rem;
  color: red;
}

.players {
  display: flex;
  /* background-color: red; */
  justify-content: center;
  gap: 4rem;
}

.players > div {
  display: grid;
  gap: 4rem;
  text-align: center;
  font-size: 2rem;
}
